{% extends 'layout.html' %}
{% load static %}

{% block title %}
    О нас
{% endblock %}


{% block content %}
    <div class="team-info">
        <h1 class="about-title">Our Team</h1>
        <div class="team-member">
            <img src="{% static 'img/ant_img.png' %}" alt="Team Member">
            <div class="member-description">
                <p>5465</p>
            </div>
        </div>
        <div class="alert-block">
            <div class="alert-content">
                <h2>Important Note</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor massa a risus sollicitudin varius.</p>
            </div>
        </div>
        <div class="team-member">
            <div class="member-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor massa a risus sollicitudin varius.</p>
            </div>
            <img src="{% static 'img/das_img.png' %}" alt="Team Member">
        </div>
        <div class="alert-block">
            <div class="alert-content">
                <h2>Important Note</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor massa a risus sollicitudin varius.</p>
            </div>
        </div>
        <div class="works-block">
            <h2>Our Works</h2>
            <div class="work-item">
                <img src="{% static 'img/work_1.jpg' %}" alt="Work">
                <div class="work-description">
                    <h3>Work Title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor massa a risus sollicitudin varius.</p>
                </div>
            </div>
            <div class="work-item">
                <img src="{% static 'img/work_2.jpg' %}" alt="Work">
                <div class="work-description">
                    <h3>Work Title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor massa a risus sollicitudin varius.</p>
                </div>
            </div>
        </div>
        <div class="guarantee-block">
            <h2>Our Guarantee</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor massa a risus sollicitudin varius.</p>
        </div>
        <div class="best-products-block">
            <h2>Our Best Products</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor massa a risus sollicitudin varius.</p>
        </div>
    </div>
{% endblock %}
