{% extends 'layout.html' %}
{% load static %}

{% block title %}
    {% if category %}
        {{ category.title }}
    {% else %}
        Все категории
    {% endif %}
{% endblock %}


{% block sidebar %}
    <ul>
        <li {% if not category %}class="selected"{% endif %}>
            <a href="{% url 'phones:products' %}">Все категории</a>
        </li>
        {% for c in categories %}
            <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                <a href="{{ c.get_absolute_url }}">{{ c.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    {% for product in products %}
    <div id="main" class="product-list">
        <div class="item">
            <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.images.all.first.img %}{{ product.images.all.first.img.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
            </a>
            <h2>
                <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
            </h2>
            <br>
            ₽{{ product.price }}
        </div>
    </div>
    {% endfor %}
{% endblock %}


{% block domready %}
    (function() {

        $.ajax('http://127.0.0.1:8000/api/products/').done(function(response) {
            console.log(response);
            for (let i = 0;i < response.length;i++) {
                let div = $('<div>').addClass('item');
                let image = $('<img>').prop('src', JSON.stringify(response[i].images[0].img));
                $('.content').append(div).append(image);
            }
        }).fail(function(error) {
            console.log(error.message);
        });



})();
{% endblock %}