{% extends 'layout.html' %}
{% load static %}

{% block title %}
    {% if category %}
        {{ category.title }}
    {% else %}
        Все категории
    {% endif %}
{% endblock %}

{% block content %}
    <div class="product-list">
    {% for product in products %}

        <div class="item">
            <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.images.all.first.img %}{{ product.images.all.first.img.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
            </a>
            <h2>
                <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
            </h2>
            <br>
            ₽{{ product.price }}
        </div>
    {% endfor %}
    </div>
{% endblock %}


{% block domready %}
<!--    (function() {-->

<!--        $.ajax('http://127.0.0.1:8000/api/products/').done(function(response) {-->
<!--            console.log(response);-->
<!--            for (let i = 0;i < response.length;i++) {-->
<!--                create_elements(response[i]);-->
<!--            }-->
<!--        }).fail(function(error) {-->
<!--            console.log(error.message);-->
<!--        });-->

<!--        function create_elements(response_element) {-->
<!--            let div = $('<div>').addClass('item');-->
<!--            let a_image = $('<a>').prop('href', `/${response_element.id}/${response_element.slug}`);-->
<!--            let image = $('<img>').prop('src', `${response_element.images[0].img}`);-->
<!--            image_title = $('<a>').prop('href', `/${response_element.id}/${response_element.slug}`).text(response_element.title);-->
<!--            let h2 = $('<h2>').append(image_title);-->
<!--            a_image.append(image);-->
<!--            div.append(a_image).append(h2).append('<br>').append(`₽${response_element.price}`);-->
<!--            $('.product-list').append(div)-->
<!--        }-->
<!--})();-->
{% endblock %}