{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <script type="text/javascript" src="{% static 'static_jquery/js/jquery.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h1>Категории</h1>
            {% block sidebar %}
            {% endblock %}
        </div>
        <div class="main">
          <div class="header">
            <ul>
                <li><a href="{% url 'phones:about' %}">О нас</a></li>
                <li>Доставка</li>
                <li>Контакты</li>
            </ul>
          </div>
          <div class="content">
            {% block content %}
            {% endblock %}
          </div>
        </div>
    </div>

<script>
    $(document).ready(function () {
        {% block domready %}
        {% endblock %}
    })
</script>

</body>
</html>
